/* GENERAL STYLING */
* {
    box-sizing: border-box;
}

header {
    width: 90%;
    margin: 50px auto 0;
    padding-top: 20px;;
    color: #8FBC8F;
}
h1 {
    text-align: center;
    font-size: 28px;    
}
h2 {
    color: #8FBC8F;
    font-size: 20px;
}
p { 
    color: grey;
padding: 3px 0;
font-size: 12px;
}

/* MODAL WINDOW */
body {
    position: relative;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.4);
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    text-align: center;
    position: relative;
    background-color: #fff;
    border: 1px solid #8FBC8F;
    border-radius: 5px;
    padding: 30px 20px;
    
}
.modal .avatar {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}


.hidden {
    display: none;
}

/* FLEXBOX */
.grid-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
/* individual cards styling */
.card {
    width: 100%;
    height: 140px;
    border: 1px solid #8FBC8F;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
.avatar {
    width: 75px;
    border-radius: 50%;
    display: block;
    margin-left: 10%;
}
.text-container {
    margin-left: 20px;
}

/* BUTTONS */
.modal-close {
    position: absolute;
    right: 2px;
    top: 5px;
}
button {
    background-color: #8FBC8F;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
}
button:hover {
    background-color: #bcd7bc;
    
}

.modal-nav {
    display: flex;
    justify-content: space-between;
}

/* Search input */
input {
    width: 80%;
    margin: 10px auto;
    display: block;
    border: 1px solid #8FBC8F;
    border-radius: 5px;
    background-image: url('../images/search-solid.svg');
    background-position: 97% ;
    background-repeat: no-repeat;
    background-size: 12px;
    z-index: 2;
}
input:focus{
    background-color: #f4f8f4;
}

::placeholder {
    font-size: 12px;
    font-style: italic;
    padding: 0 5px 5px;
  
}

/* BREAKPOINTS */
@media (min-width: 768px) {
    .grid-container {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: space-between;
    }
    .card {
        width: 49.5%;
    }
    .avatar {
        width: 100px;
    }
   
    input {
        width: 40%;
    }
    .text-container {
        margin-left: 35px;
    }
    .avatar {
        width: 60px;
        margin-left: 20px;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
  
    .card {
        width: 33%;
    }
}
